body{
    font-family: 'Poppins', sans-serif;
    margin:0%;
}
h1{
    font-size:50px;
}
.orange-color{
    color:orange;
}
.flexible-container{
    display:flex;
    margin-bottom: 100px;
}
.half-width{
    width:50%;
    padding-left:5%;
}
.half-width img{
    width:75%;
}
.half-width2{
    width:50%;
    padding-left:5%;
    padding-right:10%;
}
.experience-item{
    width:50%;
    padding-left:5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;

    box-shadow: 10px 10px 40px gray;

}
#dev-exp-left{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice:1 ;
}
#dev-exp-right{
    border-left: 7px solid;
    border-image: linear-gradient(red,yellow);
    border-image-slice:1 ;
}
.link-button{
    text-decoration:none;
    background-image: linear-gradient(orange,tomato);
    color:white;
    font-weight: 700;
    padding:10px 40px;
    border-radius:10px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-width2 img{
    width:100%;
}
.experince-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    padding-bottom: 50px;
}
footer p{
    text-align: center;
}